$header-height: 5rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: flex;
  justify-content: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #314964;
  color: white;

  &__bar {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 1.2rem;
          margin-left: 1rem;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.login-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .login-main-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form {
      margin: 20px;
      width: 300px;
      max-width: 320px;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

.form {
  font-size: 1.2rem;
  border: 1px solid #ddd;
  padding: 2rem;

  &__group {
    margin-bottom: 1rem;
  }

  &__error {
    font-size: 1.1rem;
    color: red;
  }

  input,
  button {
    font-size: 1.2rem;
  }

  input {
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    background: #69c8e7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background: #314964;
    }
  }
}

.container {
  margin-top: $header-height;
  padding: 2rem;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #292929;
  background-color: #f7f7f7;

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  &__header {
    margin: 1rem;
  }

  &__content {
    margin: 1rem;
  }

  &--standalone {
    background-color: inherit;

    h2,
    h3 {
      text-align: center;
      margin-bottom: 0.5em;
    }

    .post__header {
      border-bottom: 1px solid #292929;
    }
  }
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font: inherit;
  /*input has OS specific font-family*/
  color: inherit;
  // text-decoration: underline;
  cursor: pointer;
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 800px) {
}
